.btn{
    background-color:blue;
    border-radius: 3px;
    height:35px;
    width:55px;
    color:white;
}
.container{
    background-color: aliceblue;
    height:150px;
    width:400px;
    box-shadow:3px 3px grey;
    border-radius:10px;

}
input{
    margin-left: 5px;
    height:30px;
    width:300px;
    border-radius: 5px;;
        margin-top:20px;

}
body{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#inputfield{
    height:35px;
}
